.bk {
    background: url('../../assets/img/bk/loginbk.png') no-repeat;
    background-size: cover;
    height: 100vh;
}
.form {
    width: 450px;
    height: 580px;
    padding: 64px 40px;
    border-radius: 32px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.8);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin-left: 14%;
}
.title {
    color: #252a2e;
    font-size: 34px;
    padding-bottom: 60px;
    font-family: 'pingfang_bold';
}
.refensBtn {
    margin-left: 30px;
}
