<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- 2.0支持 InfoBox -->
    <!-- 1.0 支持 DrawingManager -->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=WAWTQhWcOZtxNdqQyBi1bOMa7bnsBM8O"></script> 
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=WAWTQhWcOZtxNdqQyBi1bOMa7bnsBM8O"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/InfoBox/1.2/src/InfoBox_min.js"></script>
    <script type="text/javascript" src="https://mapopen.cdn.bcebos.com/github/BMapGLLib/DrawingManager/src/DrawingManager.min.js"></script> 
    <script type="text/javascript" src="https://at.alicdn.com/t/font_2584458_zd0em5ljhnn.js"></script>

    <link href="/css/DrawingManager.min.css" rel="stylesheet"/>
    <title>研学后台管理系统</title>
</head>

<body>
    <div id="root"></div>
</body>
<script>
</script>
</html>